@media screen and (max-width:1245px){
   .mobile-menu{
       display: flex;
       display: none;
    }
    
}
@media screen and (min-width:1245px){
   .mobile-menu{
       display: none;
    }
}
@media screen and ( max-width: 1200px){
     .portflio-about{
        width: 100%;
     }
     .about h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.about p {
  font-size: 15px;
}
}
@media screen and ( max-width: 992px){
     .portflio-about{
        width: 100%;
     }
     .about h3 {
  font-size: 19px;
  margin-bottom: 10px;
}
.about p {
  font-size: 12px;
}
.cv {
  padding: 7px 15px;
  font-size: 12px;
  margin-top: 15px;
}
.portflio-about {
  background-color: #262626;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
}
}
@media screen and ( max-width: 720px){
  
}
@media screen and ( max-width: 780px){
     .portflio-about{
        width: 100%;
     }
     .about h3 {
  font-size: 19px;
  margin-bottom: 10px;
}
.about p {
  font-size: 11px;
}
.cv {
  padding: 7px 15px;
  font-size: 12px;
  margin-top: 15px;
}
.portflio-about {
  background-color: #262626;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
}
}
   @media screen and (min-width:984px){
    .menu {
        display: none;
    }
}
@media screen and ( max-width: 996px){
    .nav-ul {
    display: none;
   } 
}

@media (max-width: 992px) {
  .about h3 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .about-section {
    padding: 50px 0;
  }

  .about {
    text-align: center;
    margin-top: 30px;
  }

  .about h3 {
    font-size: 26px;
  }

  .about p {
    font-size: 14px;
  }
}
@media (max-width: 765px) {
  .main-section .row{
    flex-direction: column-reverse;
    margin: 50px 20px;
  }
}
@media (max-width: 400px) {
  .name{
    font-size: 30px;
  }
  h1.title{
    font-size: 30px;
  }
  .expertise div{
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 500px) and (min-width: 300px){
  .expertise{
    gap: 14px; 
  }

  .expertise div{
    width: calc(33.333% - 10px);
    height: 95px;
    padding: 14px;
  }

  .expertise div img{
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px){
  
  a.btn-contact{
    display: none;
  }

  .main-section .row{
    text-align: center;
  }
  .name{
    font-size: 25px;
    margin-top: 15px;
  }

  h1.title{
    font-size: 30px;
  }

  .caption{
    font-size: 14px;
    line-height: 1.6;
    margin: 12px 0 18px;
  }

  .btn-hire{
    display: block;
    margin: 0 auto;
  }


  .Contact .row{
    gap: 30px;
  }

  .contact-list li{
    align-items: flex-start;
  }

  .contact-form-box{
    margin-top: 20px;
  }

  .footer-end{
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .footer-icon a{
    margin: 0 6px;
  }

  .footer-end p{
    font-size: 13px;
    line-height: 1.6;
  }
}
@media (max-width: 768px){

  .col-md-6{
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact-form-box{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .btn-send{
    width: 100%;
  }
}

@media (max-width: 768px){
  .cv{
    display: block;
    margin: 15px auto 0;
    width: fit-content;
    padding: 12px 28px; 
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
    .image-slide {
        width: 85%;  
        height: 550px; 
        margin: 20px auto;
        outline-width: 3px;
        outline-offset: 4px;
    }

    .slide-item img {
        object-fit: cover; 
    }

    .overlay {
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        font-size: 0.85rem;
        padding: 10px 20px;
    }
}
@media screen and (max-width: 600px) {
  .expertise {
        column-gap: 15px; 
        row-gap: 30px; 
        justify-content: center;
        padding: 20px;
    }
    .expertise div {
        width: 46%; 
        height: 170px;
        background: #151515;
        border: 1px solid rgba(114, 147, 199, 0.2);
        row-gap: 25px;
    }

    .expertise div:active {
        border-color: #3b82f6;
        box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
    }
    .expertise div img{
  width: 55px;
  height: 55px;
    }
}