* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Inter", sans-serif;
  background-color:#121111;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #171717;
}

.ser-head {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.ser-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem 1rem;
}

.nav-ul a {
  padding: 10px 17px;
  transition: 0.3s all;
  border-radius: 6px;
 color: #b4b6b8;
}
.nav-ul a:hover{
 color: #ffffff;
}

a.btn-contact {
  position: relative;
  display: inline-block;
  padding: 14px 24px;
  border-radius: 30px;
  background: #2563eb;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.25s ease;
}

a.btn-contact::before,
a.btn-contact::after {
  content: "";
  position: absolute;
  width: 180%;
  height: 180%;
  left: -40%;
  top: 120%;
  border-radius: 45%;
  opacity: 0;
  z-index: -1;
  transform: rotate(0deg);
}

a.btn-contact::before {
  background: rgba(255, 255, 255, 0.35);
}

a.btn-contact::after {
  background: rgba(255, 255, 255, 0.2);
}
a.btn-contact:hover::before {
  top: -40%;
  opacity: 1;
  animation: waterRotate 2s linear infinite;
}

a.btn-contact:hover::after {
  top: -40%;
  opacity: 1;
  animation: waterRotate 3s linear infinite reverse;
}


a.btn-contact:hover {
  transform: translateY(-2px);
}

a.btn-contact:active {
  transform: scale(0.95);
}
@keyframes waterRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes waterMove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h2{
  color: rgb(96, 56, 56);
}
.mt{
margin-top: 60px;
}
.menu {
  display: flex;
  flex-direction: column;

}

.menu span {
  width: 35px;
  height: 3px;
  background: #2d2ab3;
  margin-top: 7px;
  margin-left: 10px;
  border-radius: 13px;
  border: solid 0.01px #2d2ab3;
  transition: 0.5s all;
  position: relative;
  z-index: 9999;
}
.menu.toggle span:nth-child(1) {
  transform: rotate(45deg);
  top: 14px;
}

.menu.toggle span:nth-child(2) {
  transform: translatex(10px);
  opacity: 0;
}

.menu.toggle span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 6px;
}
.mobile-menu {
  position: fixed;
  background-color: #dfdde2;
  height: 100vh;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem 0rem;
  text-align: center;
  color: white;
  width: 393px;
  flex-direction: column;
}

.ul-mobile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 20px;
  color: white;
}
.mobile-menu.active {
  display: flex;
}
.main-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.name {
  color: #fff;
  font-size: 46px;
}

.name span {
  font-weight: 600;
  color:#97a1ed;
}

h1.title {
  font-size: 46px;
  color: #ffffff;
}

.title span {
  color: #fff;
}

.caption {
  color: #aaa;
  max-width: 480px;
  margin: 27px 0;
 font-size: 17px;
}

.btn-hire {
background: #97a1ed;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    transition: 0.5s all;
    border: none;
}
  .btn-hire a{
  color: white;
}
.portimg {

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.portimg img {
  width: 100%;
}
 .marquee-txt {
    width: 100%;
     background-color: white;
}

.mar-cnt {
    display: flex !important;
    align-items: center;
    gap: 50px;
    padding: 14px;
     
}
.sermain-head img{
 width: 100px;
}
.slick-slide {
    display: flex !important;
    justify-content: center;
}
.mtop{
margin-top: 170px;
}

 .portflio-about {
  background-color: #262626;
  padding: 45px;
  border-radius: 20px;
  width: 100%;
}
.about-image {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.about {
  color: rgb(193, 193, 193);
  margin-top: 25px;
}

.about-me {
  color: #3b82f6;
}

.about h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

.cv {
  background-color: #111;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  transition: 0.3s ease;
  margin-top: 20px;
   color: #fff;
  text-decoration: none;
}

.service-text{
  color: white;
  text-align: center;
}
.title{
  font-size: 32px;
  font-weight: 600;
}
.service-card{
  border: 1px solid rgb(198, 204, 254,45%);
  padding: 22px 20px;
    border-radius: 12px;
    background: #252424;
    margin: 10px 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
    height: 100%;
     transition:
    transform 0.35s ease,
    background-color 0.35s ease,
    border-color 0.35s ease;
}
.service-card:hover{
  transform: translateY(-6px);
  background-color: #2b2a2a;
  border-color: rgba(198, 204, 254, 0.85);
}
.service-card h3{
color: white;
}
.portimg{
  width: 100%;
}
.service-card p{
color: #E9E9E9;
font-size: 16px;

}
.service-icon{
  margin-bottom: 50px;
}
.card-icon {
  height:80px;
  width:80px;
}
.poflio-service{
  color: white;
  text-align: center;
}

 .portfolio-sec4 {
  padding: 80px 0;
}

.poflio-service {
  text-align: center;
  margin-bottom: 50px;
}

.poflio-service .title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.poflio-service p {
  color: #ccc;
  font-size: 16px;
  line-height: 1.6;
}
.expertise {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.expertise div {
  background: #262626;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
   transition:
    transform 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
   border: 1px solid rgba(255,255,255,0.05);
}

.expertise div img {
  width: 60px;
  height: 60px;
}

.expertise div:hover{
  transform: translateY(-6px);
  background-color: #2e2e2e;
  border: 1px solid rgba(255,255,255,0.15);
}
 .portfolio-sec6 {
  background: #212020;
  padding: 40px;
  border-radius: 15px;
  color: #fff;
}

.title {
font-size: 40px;
    margin-bottom: 14px;
}

.subtitle {
  font-size: 16px;
  color: #a0a0a0;
  margin-bottom: 30px;
}
.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 22px;
}

.contact-list img {
  width: 22px;
  height: 22px;
 margin-top: 10px; 
  flex-shrink: 0;        
}

.contact-list h4 {
  font-size: 21px;
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
}

.contact-list p,
.contact-list a {
  font-size: 14px;
  color: #a2a1a1;
  text-decoration: none;
}
.contact-form-box {
  background: #111;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #333;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 6px;
}

.form-box {
  width: 100%;
  padding: 12px;
  background: #1c1c1c;
  border: 1px solid #333;
  border-radius: 8px;
  color: #fff;
}
.contact-form-box{
  width: 100%;
  box-sizing: border-box;
}
.form-box:focus{
  outline: none;
}
.btn-send {
  background: #909AEC;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn-send:hover {
  background: #5759d8;
}
.footer-end {
  border-top: solid 1px #515050;
  margin-top: 50px;
  padding-top: 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

        .options{
  display: flex;
  gap: 10px;
  width: 90%;
  height: 400px;
  margin: auto;
}

.option{
  flex: 1;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: flex 0.6s ease;
}

.option.active{
  flex: 4;
}

.option img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.option:not(.active) img{
  filter: brightness(0.5);
}

.option:hover img{
  filter: brightness(1);
  transform: scale(1.05);
}

        .main-section.row{
          display: flex;
          flex-direction: column-reverse;
        }
.footer-icon a{
 background-color: #454649;
 padding: 5px;
 border-radius: 50%;
}
        